body {
  background-color: #282c34;
  color: #ffffff;
  font-family: Consolas, monospace;
  font-size: 30px;
}

.scramblediv {
  border-bottom: 2px solid;
  border-top: 2px solid;
  text-align: center;
  padding: 20px;
}

.scramblediv > * {
  padding: 20px;
}

.scramble {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove weird underline from scram */
.scramble p {
  border: none;
  text-decoration: none;
}

p {
  margin: auto;
}

.last {
  padding: 20px;
  float: left;
}

.next {
  padding: 20px;
  float: right;
}

.next:hover {
  color: #98c379;
  cursor: pointer;
}

.last:hover {
  color: #e06c75;
  cursor: pointer;
}

select {
  text-align: center;
  background: inherit;
  border: none;
  width: auto;
  font-size: inherit;
  font-family: Consolas, monospace;
  color: inherit;
  outline: none;
}
select:hover {
  color: #61afef;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

a:hover {
  cursor: move;
}

.sortable-chosen:hover {
  color: #c678dd;
  cursor: move;
}

.sortable-ghost {
  opacity: 0;
}

ul.edgebufferlist {
  margin: 0;
  display: inline-block;
  list-style-type: none;
  width: fit-content;
  height: fit-content;
  padding: 40px;
}

ul.cornerbufferlist {
  margin: 0;
  float: right;
  padding: 40px;
  display: inline-block;
  list-style-type: none;
  width: fit-content;
  height: fit-content;
}

ul.edgebufferlist li,
ul.cornerbufferlist li {
  width: 45px;
  font-size: 25px;
  list-style-position: inside;
  text-align: center;
  padding: 5px;
  border: 2px solid;
}

.ghostClass {
  opacity: 0;
}

.confirm {
  position: absolute;
  text-align: center;
  font-size: 25px;
  vertical-align: bottom;
  border: 2px solid;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin: 40px;
  bottom: 0px;
  right: 0px;
}

.confirm:hover {
  color: #e5c07b;
  cursor: pointer;
}

.mode {
  position: absolute;
  text-align: center;
  font-size: 25px;
  vertical-align: bottom;
  border: 2px solid;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin: 40px;
  bottom: 0px;
  left: 0px;
}

.mode:hover {
  color: #e5c07b;
  cursor: pointer;
}

@media (max-width: 480px) {
  .scramblediv {
    border-bottom: 2px solid;
    border-top: 2px solid;
    text-align: center;
    padding: 0 20px;
    display: grid;
    width: 100%;
  }

  .scramblenav {
    padding: 0;
  }

  .scramble {
    padding: 20px 0;
  }
}
